#bookmarks-pane {
    font-family: 'Robot Condensed';
    font-size: 30px;
}

#bookmarks-pane #row1 {
    text-align: center;
    padding: 10px 0px;
}

#bookmarks-pane #row2 { 
    padding: 10px 0px;
}

#bookmarks-pane h1 {
    font-size: 30px;
}

#bookmarks-header {
    font-family: 'Orbitron';
    font-weight: 600;
}