.loginScreen { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./images/login-background.jpg');
    display: table;
  }

.loginScreen a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.loginScreen a:hover {
    color: #ffa3d7;
}

.login-container {
    display: table-cell;
    vertical-align: middle;
}

.freepix-attribution{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Orbitron';
}

.boombox-header {
    font-family: 'Orbitron';
    color: white;
    font-size: 120px;
    text-transform: lowercase;
    text-shadow: 5px 5px 5px black;
    font-weight: 600;
}

.boombox-subtitle {
    font-family: 'Orbitron';
    color: white;
    font-size: 24px;
    text-transform: lowercase;
    margin-bottom: 50px;
}

.login-menu {
    border-radius: 20px;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
}