#nav-bar-main a {
    text-decoration: none;
    color: white;
}

#nav-bar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-family: 'Orbitron';
    position: fixed;
    z-index:100;
}

#nav-bar-table {
    width: 100%;
    white-space: nowrap;
    border: 1px;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 65px;
    padding-left: 5px;
    /*
    border-width: 5px;
    border-color: red;
    border-style: solid;
    */
}

#boombox-header {
    text-decoration: none;
    color: white;
}

#boombox-header:hover {
    color: #d3d3d3;
}

#nav-bar-table td > * {
    vertical-align: middle;
}


#nav-bar-table td:nth-of-type(1) {
    padding-left: 15px;
}

#nav-bar-table td:nth-of-type(2) {
    text-align: center;
}

#nav-bar-table td:nth-of-type(3) {
    text-align: right;
}

#nav-bar-table td:nth-of-type(4) {
    text-align: right;
    padding-right: 15px;
}

#login-link, #register-link {
    display: inline-block;
    font-size: 24px;
    padding: 0px 10px;
}

#menu-icon {
    cursor: pointer;
}

#settings-icon {
    cursor: pointer;
}

#search-bar, #search-bar:focus {
    font-family: 'Roboto Condensed';
    background-image: url('images/search-24px.svg');
    background-repeat: no-repeat;
    padding-left: 24px;
    border: none;
    border-radius: 250px;
    outline: none;
    font-size: 16px;
}


/*--------------------*/


#push-menu {
    /*margin-top: 60px;*/
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    background-color: black;
    
    /*overflow: hidden;*/
}

#push-menu-table {
    /* font-family: 'Roboto Condensed'; */
    color: white;
    font-size: 30px;
    
}

#push-menu-table td {
    padding: 5px 0px;
    padding-right: 15px;
    padding-left: 15px;
}

#push-menu-table td > * {
    vertical-align: middle;
}

#close-menu-cell > * {
    margin-left: 0px;
}

#close-menu-icon {
    cursor: pointer;
    padding: 10px 0px;
}

/*--------------------*/

#nav-bar-main #settings-pane {
    display: none;
}

#nav-bar #settings-pane-fixed-top {
    display: none;
    overflow-x: scroll;
    max-height: 100vh;
}