#playlist-page-container {
    font-family: 'Roboto Condensed';
    font-size: 16px;
}

#playlist-page-container > * > * {
    border-width: 0px;
    border-color: red;
    border-style: solid;
}

#playlist-page-container #title-row, #playlist-page-container #tags-row {
    font-family: 'Orbitron';
}

#playlist-page-container h1 {
    font-size: 30px;
    display: inline-block;
}

#playlist-page-container h2 {
    font-size: 24px;
    display: inline-block;
}

#playlist-page-container p {
    font-size: 16px;
}

#playlist-page-container .btn-primary {
    border-radius: 250px;
    background-color: rgb(0, 136, 209);
    font-size: 16px;
}

#playlist-page-container textarea {
    width: 75%;
}

#playlist-page-container #row1 > * {
    margin-top: auto;
}

/*
/* How to deal with overflow in description (really long word)
#playlist-page .col {
    overflow-wrap: break-word;
}
*/

#playlist-page-container #playlist-cover-container {
    padding: 20px;
    max-width: 290px;
}

/* need to figure out how to vertical align with title */
#playlist-page-container #icons-div {
    display: inline-block;
    margin-left: 15px;
}

#playlist-page-container #icons-div > img {
    margin: 0 2.5px;
}

/* figure out how to vertically align this row */
#playlist-page-container #tags-row > * {
    margin: auto;
    vertical-align: middle;
}

/* #playlist-page-container .tag-button {
    background-color: rgb(108, 111, 118);
    color: white;
    border: none;
    border-radius: 250px;
    margin: 0px 5px;
    font-size: 12px;
    outline: none; /* need to figure out how to remove button highlight when clicked 
} */

#playlist-page-container .songs-container {
    margin: 20px 0px 0px 0px;
    border-bottom: 2px solid grey;
}

#playlist-page-container .songs-col0 {
    border: 0px solid blue;
    text-align: right;
    max-width: 7%; 
}

#playlist-page-container .songs-col1 {
    border: 0px solid rgb(255, 102, 0);
    text-align: left;
}

#playlist-page-container .songs-col2 {
    border: 0px solid purple;
    text-align: center;
}

#playlist-page-container .songs-col3 {
    text-align: right;
    padding-right: 5%;
    border: 0px solid green;
}

#playlist-page-container #songs-header-row {
    font-family: 'Orbitron';
    border-bottom: 2px solid grey;
}

#playlist-page-container #songs-data-container-row {
    padding: 10px 0px;
}

#playlist-page-container #songs-data-container-row > * > * {
    padding: 5px 0px;
}


#playlist-page-container .song-arrow {
    cursor: pointer;
}

#playlist-page-container .song-notes-row {
    margin: 0px auto 10px auto;
    background-color: rgb(245, 245, 245);
    width: 80%;
    text-align: center;
    display: none;
}

#playlist-page-container #playlist-comments-container {
    text-align: center;
    margin: 30px 0px 0px 0px;
}

#playlist-page-container #displayed-comments-row {
    margin-top: 20px;
}

#playlist-page-container .comment-row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
}

#comment-entry {
    margin-bottom: 10px;
}

#playlist-page-container .comment-user-col {
    text-align: left;
}

#playlist-page-container .comment-time-col {
    text-align: right;
}

#playlist-page-container .comment-content-col {
    text-align: left;
}

#playlist-page-container #play-track-container {
    background-color: black;
    color: white;
    font-family: 'Orbitron';
    min-height: 80px;
    max-height: 160px;
    padding: 10px 20px;
}

#playlist-page-container {
    padding-bottom: calc(80px + 30px);
}

#playlist-page-container #play-track-left-col > * {
    margin: 0px 2.5px;
}

.invert-color {
    filter: invert(1);
}

#playlist-page-container #prev-song-img, #playlist-page-container #play-pause-img, #playlist-page-container #next-song-img {
    cursor: pointer;
}
