.registerScreen { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./images/login-background.jpg');
    display: table;
    font-family: 'Roboto Condensed';
    color: white;
  }

.login-link {
    text-decoration: none;
    color: #ff1f75;
    transition: 0.3s;
}

.login-link:hover {
    color: white;
}

.register-container {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
}

.freepix-attribution{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Orbitron';
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.freepix-attribution:hover {
    color: #ff1f75;
}

.boombox-header {
    font-family: 'Orbitron';
    color: white;
    font-size: 120px;
    text-transform: lowercase;
    text-shadow: 5px 5px 5px black;
    font-weight: 600;
}

.boombox-subtitle {
    font-family: 'Orbitron';
    color: white;
    font-size: 24px;
    text-transform: lowercase;
    margin-bottom: 50px;
}

.register-menu {
    border-radius: 20px;
    width: 20%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-family: 'Orbitron';
}

.registration-form {
    width: 80%;
    margin: 5px;
    margin-bottom: 20px;
}

.register-form btn-primary {
    background-color: #fc639e !important;
    border-color: #fc639e !important;
    margin: 5px;
}

.register-form btn-primary:hover {
    background-color: #ffdae8 !important;
    border-color: #ffdae8 !important;
}

.boombox-register-title {
    font-family: 'Orbitron';
    color: white;
    font-size: 24px;
    text-transform: lowercase;
    margin: 10px;
}

#error-response{
    color: lightcoral;
    font-size: 12px;
}