#settings-pane {
    /* margin-top: 10px; */
    /* width: 80%; */
    /* background: black;
    color: white; */
    font-family: 'Roboto Condensed';
    font-size: 24px;
    z-index: 2000 !important;
}

#settings-pane #row1 {
    text-align: center;
}

#settings-pane #back-icon {
    cursor: pointer;
}


#settings-pane .col-6 {
    word-wrap: break-word;
}

#change-icon-section, #change-username-section, #user-bio-section, #change-email-section, #change-password-section {
    margin: 25px 0px;
} 

#change-icon-section > *, #change-username-section > *, #user-bio-section > *, #change-email-section > *, #change-password-section > * {
    margin: auto;
    padding: 5px;
}

#user-icon-row > * {
    margin: auto;
}

#settings-pane .btn-primary {
    border-radius: 250px;
    background-color: rgb(0, 136, 209);
    font-size: 18px;
}

#settings-pane h1 {
    font-size: 20px;
}

#settings-pane h2 {
    font-size: 18px;
}

#settings-pane p {
    font-size: 14px;
    font-family: 'Roboto Condensed';
}

#settings-pane input {
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto Condensed';
}

#settings-pane textarea {
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto Condensed';
}

.invert-color {
    filter: invert(1);
}

#settings-error {
    color: red;
    font-size: 18px;
}

#settings-confirm {
    color: green;
    font-size: 18px;
}

.navbar-settings-modal {
    width: 70vw;
    max-width: 70vw;
}