.user-display {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.user-picture {
    width: 160px;
    height: 160px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.user-picture:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.user-name {
    font-size: 18px;
}