.user-display {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.user-picture {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    transition: 0.3s;
    border-radius: 50%;
}

.user-picture:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.user-name {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.user-name:hover {
    text-decoration: none;
    color: black;
}